org: fabioedv
service: kfc-integraciones

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  iam:
    role: arn:aws:iam::282163831899:role/LabRole
  environment:
    TABLE_NAME: Orders
    EVENT_BUS: orders-bus

resources:
  Resources:

    # DynamoDB
    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Orders
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH

    # EventBridge Bus
    OrdersEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: orders-bus

    # S3 bucket
    AssetsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: kfc-assets-hackathon
        WebsiteConfiguration:
          IndexDocument: index.html
          ErrorDocument: error.html
      DeletionPolicy: Retain

    # EventBridge rule ORDER.READY
    OrderReadyRule:
      Type: AWS::Events::Rule
      Properties:
        Name: order-ready
        EventBusName: orders-bus
        EventPattern:
          detail-type:
            - ORDER.READY
        Targets:
          - Arn: !GetAtt NotificationHandlerLambdaFunction.Arn
            Id: notification-target-ready

    # EventBridge rule ORDER.PAID
    OrderPaidRule:
      Type: AWS::Events::Rule
      Properties:
        Name: order-paid
        EventBusName: orders-bus
        EventPattern:
          detail-type:
            - ORDER.PAID
        Targets:
          - Arn: !GetAtt NotificationHandlerLambdaFunction.Arn
            Id: notification-target-paid

    # Permission READY → Lambda
    PermissionReady:
      Type: AWS::Lambda::Permission
      Properties:
        FunctionName: !GetAtt NotificationHandlerLambdaFunction.Arn
        Action: lambda:InvokeFunction
        Principal: events.amazonaws.com
        SourceArn: !GetAtt OrderReadyRule.Arn

    # Permission PAID → Lambda
    PermissionPaid:
      Type: AWS::Lambda::Permission
      Properties:
        FunctionName: !GetAtt NotificationHandlerLambdaFunction.Arn
        Action: lambda:InvokeFunction
        Principal: events.amazonaws.com
        SourceArn: !GetAtt OrderPaidRule.Arn

functions:

  get_order_status:
    handler: get_order_status.lambda_handler
    events:
      - http:
          path: status/{id}
          method: get

  stripe_payment:
    handler: stripe_payment.lambda_handler
    events:
      - http:
          path: pay
          method: post

  send_order_ready:
    handler: send_event_ready.lambda_handler
    events:
      - http:
          path: event/ready
          method: post

  send_order_paid:
    handler: send_event_paid.lambda_handler
    events:
      - http:
          path: event/paid
          method: post

  notification_handler:
    name: NotificationHandler
    handler: notifications.lambda_handler

